<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">

	<test name="Home Loan Test">
		
		<parameter name="chrome.version" value="80"></parameter>
		
		<classes>
			<class name="com.frm.scripts.web.HomeLoanTest" />
		</classes>
	</test>

</suite>